@import url("./global.css");

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.nav-header ul li .active{
    color: var(--color-white);

}

.container-btn-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-login{
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-primary{
    background-color: var(--color-green);
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 40px;
    font-size: var(--font-size-text1);
    color: #000;
    font-family: var(--font-family-alexandria);  
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    align-items: center;
    align-self: self-start;
    gap: 8px;
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 10px 12px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
}

h1{
    color: var(--color-white);
    font-size: var(--font-size-title1);
    width: 510px;
    font-family: var(--font-family-alexandria);
}

.content-main p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

.btn-green{
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: #000;
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-secondary{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    border: 1px solid var(--color-gray2);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.section-partners{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 40px;
    align-items: center;
    background-color: var(--color-gray4);

}

.section-partner h2{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.container-images-partners{
    display: flex;
    gap: 50px;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
}

.content-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-breakdown span{
    color: var(--color-green);
    border: 1px;
    padding: 12px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);    
}

.content-breakdown h2{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    color: var(--color-white);
}

.content-breakdown p{
    font-family: var(--font-family-inter);
    color: var(--color-gray1);
    width: 572px;
    text-align: center;
}

.container-cards-breakdown{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px 36px;
    background-color: #FFFFFF04;
}

.card-breakdown div{
    display: flex;
    flex-direction: column;
    gap: 16;
}
.card-breakdown div h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;
}

.card-breakdown div p{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    width: 338px;
}

